<!DOCTYPE html>
<html lang="vi">
  <head>
    <!-- include head.html -->
    @@include('../layouts/head.html', { "title": "Demo" })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
  </head>

  <body>
    <div class="wrapper">
      <!-- include header.html -->
      <!-- @@include('../layouts/header.html') -->
      <div class="header-logo">
        <a class="index__logo" href="#">LOGO</a>
      </div>
       <!-- include main.html -->
       <main class="main">
        <div class="container-fluid">
            <p class="text-title">
                Join over 50 milions people sharingrecipes everyday
            </p>
            <p class="text-description">
                Never run out ideas again. Try new foods, ingredient, cooking style,and more
            </p>
            <div class="button"  >
                <div class="main-button-login" href="../../login.html">
                    <a href="../../login.html" >
                        Button Text
                    </a>
                </div>
                <div class="main-button" href="../../feed.html">
                    <a href="../../feed.html" >
                        Button Feed
                    </a>
                </div>
            </div>
        </div>
      </main>
      <!-- include footer.html -->
      <!-- @@include('../layouts/footer.html') -->
    </div>
    <!-- include scripts.html -->
    @@include('../layouts/scripts.html')
  </body>
</html>
