<!DOCTYPE html>
<html lang="vi">
  <head>
    <!-- include head.html -->
    @@include('../layouts/head.html', { "title": "Demo" })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
  </head>

  <body>
    <div class="wrapper">
      <!-- include header.html -->
    
       <!-- include main.html -->
      @@include('../layouts/login.html')
      
      <!-- include footer.html -->
      <!-- @@include('../layouts/footer.html') -->
    </div>
    <!-- include scripts.html -->
    @@include('../layouts/scripts.html')
  </body>
</html>
