<nav class="navbar">
  <div class="logo">
    <a href="#">LOGO</a>
    <div>4 pieces 1/2-inch thick pieces brioche</div>
  </div>
  <div class="search">
    <img class="search__icon" src="https://img.icons8.com/ios/50/000000/search--v1.png" />
    <input class="search__input" placeholder="Search Recipe Profile, or Ingredients" />
  </div>
  <div class="narbar__right">
    <img class="narbar__right--notification" src="https://img.icons8.com/ios/50/000000/appointment-reminders--v1.png" />
    <img class="narbar__right--mailbox" src="https://img.icons8.com/ios/50/000000/mail.png" />
    <img class="narbar__right--avt" src="https://img.icons8.com/ios/50/000000/user-male-circle.png" />
  </div>
</nav>