<!-- <main class="main">
    <div class="container-fluid">
        <div class="main-text">
            Join over 50 milions people sharingrecipes everyday
        </div>
        <div class="main-bottom">
            Never run out ideas again. Try new foods, ingredient, cooking style,and more
        </div>
        <div class="button">
            <button href="./login.html" class="main-button" >
                Button Text
            </button>
            <button class="main-button1">
                Button Text
            </button>
        </div>
    </div>
  </main> -->